body {
	font-family: sans-serif;
	color: rgb(82, 0, 183);
}


#first-line-separator{
	border-style: solid;
	border-width: 4px;
	border-color: rgb(66, 7, 138);

}

.div-header-config {
	text-align: left;
	color : #000000;
	align-items: center;
	padding-top: 1em;
}

#drag-and-drop-text {
	font-size: 12px;
	font-weight: lighter;
	color: blueviolet;
}

#upload-data-first{
	align-items: center;
	margin-top: 5em;
	color: rgb(25, 0, 127);
}

.file-name-uploaded{
	text-align: left;
	padding-top: 1em;
	font-size: 10px;
	font-weight: lighter;
	color: yellow;
}

#first-box-drag-and-drop{

	margin-left: 1em;
}

#second-box-drag-and-drop{
	background-color: blue;
	margin-left: 1em;

}

#first-table-output {
	color : rgb(179, 218, 6);
	font-weight: lighter;
	background-color: transparent;
	align-items: center;
}

